<!-- Close Header -->
<!-- Modal -->
@*  <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
    <div class="w-100 pt-1 mb-5 text-right">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form action="" method="get" class="modal-content modal-body border-0 p-0">
    <div class="input-group mb-2">
    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="بیاب...">
    <button type="submit" class="input-group-text bg-success text-light">
    <i class="fa fa-fw fa-search text-white"></i>
    </button>
    </div>
    </form>
    </div>
    </div>

*@

<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li style="width: 10px; height: 10px" data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="rounded-circle active"></li>
        <li style="width: 10px; height: 10px; margin-left: 10px;margin-right: 10px" data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1" class="rounded-circle "></li>
        <li style="width: 10px; height: 10px" data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2" class="rounded-circle "></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div>
                <div>
                    <div>
                        <img class="w-100" src="/img/banner1.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="">
                <div class="row">
                    <div class="">
                        <img class="w-100" src="/img/banner2.png" />
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div>
                <div>
                    <div>
                        <img class="w-100" src="/img/banner3.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
       role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
       role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->
<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h2">
                دسته بندی محصولات
            </h1>

        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-2 p-4  mt-3">
            <a href="#"><img src="/img/Group 205.png" class="rounded-3 img-fluid "></a>

        </div>
        <div class="col-6 col-md-2 p-4 mt-3">
            <a href="#"><img src="/img/Group 206.png" class="rounded-3 img-fluid "></a>
        </div>
        <div class="col-6 col-md-2 p-4 mt-3">
            <a href="#"><img src="/img/Group 207.png" class="rounded-3 img-fluid "></a>
        </div>
        <div class="col-6 col-md-2 p-4 mt-3">
            <a href="#"><img src="/img/Group 208.png" class="rounded-3 img-fluid "></a>
        </div>
        <div class="col-6 col-md-2 p-4 mt-3">
            <a href="#"><img src="/img/Group 209.png" class="rounded-3 img-fluid "></a>
        </div>
        <div class="col-6 col-md-2 p-4 mt-3">
            <a href="#"><img src="/img/Group 210.png" class="rounded-3 img-fluid "></a>
        </div>
    </div>
</section>
<!-- End Categories of The Month -->
<section class="mt-5">
    <div class="container ">
        <div class="row">
            <div class="col-6">
                <img class="banner" src="/img/Group 218.png" />
            </div>
            <div class="col-6">
                <img class="banner" src="/img/Group 219.png" />
            </div>

        </div>
    </div>
</section>

<!-- Start Featured Product -->
<section class="product-section">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h3">محصولات ویژه</h1>

            </div>
        </div>
        <div class="row">
            @foreach (var product in (ViewData["random"] as List<Products>)!)
            {
                <div class="col-12 col-md-3 mb-4">
                    <div class="card h-100">
                        <a href="/home/shopSingle?productId=@product.Id">
                            <img src="/img/@product.MainImg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class=" list-unstyled  justify-content-between">
                                <li class="d-flex">
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">@product.Price.ToString("##,###") تومان</li>
                            </ul>
                            <a href="/home/shopSingle" class="h3  text-decoration-none text-dark">@product.Name</a>

                            <p class="text-muted">Reviews (24)</p>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>
<section class="mt-5">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-12">
                <img class="banner" src="/img/Group 221.png" />
            </div>
            

        </div>
    </div>
</section>
<section class="product-section">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h3">محصولات ویژه</h1>

            </div>
        </div>
        <div class="row">
            @foreach (var product in (ViewData["random"] as List<Products>)!)
            {
                <div class="col-12 col-md-3 mb-4">
                    <div class="card h-100">
                        <a href="/home/shopSingle?productId=@product.Id">
                            <img src="/img/@product.MainImg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class=" list-unstyled  justify-content-between">
                                <li class="d-flex">
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">@product.Price.ToString("##,###") تومان</li>
                            </ul>
                            <a href="/home/shopSingle" class="h3  text-decoration-none text-dark">@product.Name</a>

                            <p class="text-muted">Reviews (24)</p>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>
<section class="my-mb-100">
    <div class="container-fluid">
        <div class="row d-flex text-center">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <img class="small-banner" src="/img/Group 184.png"/>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img class="small-banner" src="/img/Group 185.png"/>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img class="small-banner" src="/img/Group 186.png"/>
            </div>
        </div>
        

    </div>
</section>

@* @section Scripts{
    <script src="/app.js"></script>
    }*@
<!-- End Featured Product -->
