
@{
    
        ViewData["Title"] = "اطلاعات پرداخت";
    
}
<div style="margin:100px 0  400px" class="container-fluid text-center ">
    @if (ViewBag.status == "OK")
    {
        <div class="alert alert-success text-center">
            پرداخت با موفقیت انجام شد😊
            <hr/>
            کد پیگیری:@(long.Parse(ViewBag.auth))
        </div>
    }
    else
    {
        <div class="alert alert-danger text-center">
            پرداخت با خظا مواجه شد😳
            <hr/>
            کد پیگیری:@(long.Parse(ViewBag.auth))
        </div>
    }
    
</div>