@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">J Shop</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:+989383555383">09383555383</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:javad.mohammadi5383@gmail.com">javad.mohammadi5383@gmail.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">لوکس</a></li>
                        <li><a class="text-decoration-none" href="#">لباس ورزشی</a></li>
                        <li><a class="text-decoration-none" href="#">کفش مردانه</a></li>
                        <li><a class="text-decoration-none" href="#">کفش زنانه</a></li>
                        <li><a class="text-decoration-none" href="#">لباس های محبوب</a></li>
                        <li><a class="text-decoration-none" href="#">لوازم بدنسازی</a></li>
                        <li><a class="text-decoration-none" href="#">کفش ورزشی</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">اطلاعات بیشتر</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="/home/">خانه</a></li>
                        <li><a class="text-decoration-none" href="/home/About">درباره ما</a></li>
                        <li><a class="text-decoration-none" href="/home/Contact">تماس با ما</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        @*<li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i
                                    class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>*@
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank"
                                href="https://www.instagram.com/javad_develop"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        @*<li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i
                                    class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>*@
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank"
                                href="https://www.linkedin.com/in/javad-mohammadi-76169622a/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
               
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2022 javad mohammadi
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
