<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
  <partial name="_head" />
</head>
<body>
    <partial name="_header" />

   @RenderBody()
   
   <footer>
       <partial name="_footer" />
   </footer>
   <partial name="_scripts" />
    @RenderSection("Scripts", required: false)
</body>

</html>
