
@{
    
}
<div style="margin:200px 0 400px 0" class="container-fluid ">
    <div class="jumbotron jumbotron-fluid">
        <div class="container alert-success">
            <div class="text-center">
                <h1 class="display-4">تبریک</h1>
            </div>
            <div class="text-center mt-5">
                <p class="lead">ثبت نام شما با موفقیت انجام شد </p>
            </div>
            <div class="text-center mt-5">
                <a href="/account/" class="btn btn-outline-dark">وارد شوید</a>
            </div>

        </div>
    </div>
</div>
